{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'layoutgenerator/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}Default Header{% endblock %}</h1>
    </header>

    <!-- Add navigation bar here...-->

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 TheBackyardigans</p>
    </footer>
</body>
</html>