{% extends 'base.html' %}

{% block title %} Import File {% endblock %}

{% block content %}

    <div class="samples">
        <a href="{% url 'download-sample-excel' %}" download>
            <button>Download Sample Excel File</button>
        </a>
        <button>Download Sample CSV File</button>
        <button>Download Sample JSON File</button>
    </div>

    <h1>Upload a File:</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploaded_file">
        <input type="submit" value="CONVERT">
    </form>

    {% if file_name %}
        <p>Uploaded file: {{ file_name }}</p>
    {% endif %}

{% endblock %}