{% extends 'base.html' %}

{% block title %} Settings {% endblock %}

{% block styling %}
<style>
    body {
        background: #ccc;
    }

    #room {
        width: 400px;
        height: 300px;
        border: 2px solid #000;
        position: relative;
    }

    .wall, .furniture, .window {
        position: absolute;
    }

    .wall {
        width: 100%;
        height: 100%;
    }

    .furniture, .window {
        width: 50px;
        height: 30px;
        background-color: #ccc;
        border: 1px solid #000;
        text-align: center;
        line-height: 30px;
    }
    .image-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-top: 20px;
        float: right;
        bottom: 150px;
        right: 150px;
    }
    
    /* Style for the image wrapper */
    .image-container div {
        position: relative;
        cursor: pointer;
        border: 2px solid black; /* Border color for the image */
        border-radius: 5px;
    }

    .list-group-item {
        color:#fff;
        background-color: #212529;
        border: none;
    }

    .list-group-item.active {
        color:#fff;
        border: none;
        background-color: #1B9CDB;
        font-weight: bold;
    }


    
</style>
{% endblock %}


{% block content %}

<div class="container p-0 bg-body text-body align-items-center justify-content-center mt-4" style="width: 70; height: 100; border-radius: 10px;">
    <div class="row">
        <!--Sidebar for settings-->
        <div class="col-3 bg-dark p-0" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
            <div class="sidebar">
                <ul class="list-group mt-5" style="border-radius:0">
                    <li class="list-group-item" id="defaultStyleSettingsTab">
                        <a class='nav-link' href="{% url 'settings' %}">Default Style Settings</a>
                    </li>
                    <li class="list-group-item active" id="accountSettingsTab">
                        <a class='nav-link' href="{% url 'account-settings' %}">Account Settings</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Account Settings main content-->
        <div class="col">
            <div class="p-5" id="accountSettings">
                <h1 class="display-6 fw-bold">Account Settings</h1>
                <hr>
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form method="post" class="account-settings">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label bold-label"><b>Email:</b></label>
                        {{ form.email }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label bold-label"><b>Enter new password:</b></label>
                        {{ form.new_password1 }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword2" class="form-label bold-label"><b>Confirm new password:</b></label>
                        {{ form.new_password2 }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label bold-label"><b>Enter current password:</b></label>
                        {{ form.old_password }}
                        
                    </div>
                
                    <div class="mb-3 align-items-right">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </form>
                <div class="container mt-3">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <form id="deleteForm" action="{% url 'delete_all_layout_test' %}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-lg btn-danger" onclick="confirmDelete()">Delete all layouts</button>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripting %}
    <script>
        function confirmDelete() {
        if (confirm("Are you sure you want to delete ALL layouts from your library? This action cannot be undone!")) {
            // If user confirms, submit the form
            document.getElementById("deleteForm").submit();
        } else {
            // If user cancels, do nothing
        }
    }
    </script>
{% endblock %}