{% extends 'base.html' %}

{% block title %} Settings {% endblock %}

{% block styling %}
<style>
    body {
        background: #ccc;
    }

    #room {
        width: 400px;
        height: 300px;
        border: 2px solid #000;
        position: relative;
    }

    .wall, .furniture, .window {
        position: absolute;
    }

    .wall {
        width: 100%;
        height: 100%;
    }

    .furniture, .window {
        width: 50px;
        height: 30px;
        background-color: #ccc;
        border: 1px solid #000;
        text-align: center;
        line-height: 30px;
    }
    .image-container {
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-top: 20px;
        float: right;
        bottom: 150px;
        right: 150px;
    }
    
    /* Style for the image wrapper */
    .image-container div {
        position: relative;
        cursor: pointer;
        border: 2px solid black; /* Border color for the image */
        border-radius: 5px;
    }

    .list-group-item {
        color:#fff;
        background-color: #212529;
        border: none;
    }

    .list-group-item.active {
        color:#fff;
        border: none;
        background-color: #1B9CDB;
        font-weight: bold;
    }

    /* Styling for groups within the form */

    .form-row {
        display: flex;
        flex-wrap: wrap;
    }

    .form-group {
        flex: 1;
        margin-right: 5%;
    }

    .form-group:last-child {
        margin-right:0;
    }
</style>
{% endblock %}


{% block content %}

    <div class="container p-0 bg-body text-body align-items-center justify-content-center mt-4" style="width: 70; height: 100; border-radius: 10px;">
            <div class="row">
                <!--Sidebar for settings-->
                <div class="col-3 bg-dark p-0" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                    <div class="sidebar">
                        <ul class="list-group mt-5" style="border-radius:0;">
                            <li class="list-group-item active" id="defaultStyleSettingsTab">
                                <a class='nav-link' href="{% url 'settings' %}">Default Style Settings</a>
                            </li>
                            <li class="list-group-item" id="accountSettingsTab">
                                <a class='nav-link' href="{% url 'account-settings' %}">Account Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Settings main content-->
                <div class="col">
                    <!--Default Style Settings-->
                    <div class="p-5" id="defaultStyleSettings">
                            <h1 class="display-6 fw-bold">Default Style Settings</h1>
                            <hr>
                            
                            {% if messages %}
                                    <div class="alert alert-success" role="alert">
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                    </div>
                                {% endif %}

                            <form method="post">
                                {% csrf_token %}
                            
                                <div class="mt-3">
                                   
                                    <h3 class="fw-bold pt-3 mt-4" style="color:#1B9CDB">Object Colors</h3>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="sensor_label_color">Sensors:</label>
                                            {{ form.sensor_label_color }}                                           
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="camera_label_color">Cameras:</label>
                                            {{ form.camera_label_color }}
                                        </div>
                                    </div>

                                    <div class="form-row mt-4">
                                        <div class="form-group col-md-6">
                                            <label for="navigation_arrow_color">Navigation Arrows:</label>
                                            {{ form.navigation_arrow_color }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="calibration_color">Calibrations:</label>
                                            {{ form.calibration_color }}
                                        </div>
                                    </div>

                                </div>

                                <h3 class="fw-bold pt-3 mt-4" style="color:#1B9CDB">Boundary Settings</h3>
                                <div class="mt-3">
                                    <h5 class="fw-bold" style="color:darkslategray; margin-left:8px">Walls</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="wall_color">Color:</label>
                                            {{ form.wall_color }}                                           
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="wall_width">Thickness:</label>
                                            {{ form.wall_width }}
                                        </div>
                                    </div>

                                    <h5 class="fw-bold mt-4" style="color:darkslategray; margin-left:8px">Doors</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="door_color">Color:</label>
                                            {{ form.door_color }}                              
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="door_width">Thickness:</label>
                                            {{ form.door_width }}
                                        </div>
                                    </div>

                                    <h5 class="fw-bold mt-4" style="color:darkslategray; margin-left:8px">Windows</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="window_color">Color:</label>
                                            {{ form.window_color }}                               
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="window_width">Thickness:</label>
                                            {{ form.window_width }}
                                        </div>
                                    </div>

                                    <h5 class="fw-bold mt-4" style="color:darkslategray; margin-left:8px">Furniture</h5>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="furniture_color">Color:</label>
                                            {{ form.furniture_color }}                            
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="furniture_width">Thickness:</label>
                                            {{ form.furniture_width }}   
                                        </div>
                                    </div>

                                </div>

                                <div class="mt-5 d-flex">
                                    <button type="submit" class="btn btn-lg btn-primary">Save and Apply Changes</button>
                                </div>
                            </form>
                    </div>

                </div>
            </div>
        
    </div>

{% endblock %}