{% extends 'base.html' %}

{% block title %} Edit Layout {% endblock %}

{% block styling %}

<style>

    /* Styling for groups within the form */

    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pdf-preview {
        justify-content: center;
    }

    /*Drop-shadow effect for buttons--> */
    .shadow-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(134, 139, 145, 0.25); /* Add focus shadow */
    }

    .shadow-toggle.active {
        box-shadow: 0 0 0 0.25rem rgba(134, 139, 145, 0.25); /* Add active shadow */
        background-color: #f8f9fa;
    }

    .btn-orientation {
        padding: 5px;
        width: 45%;
        height: 10%;
    }

</style>
<script>
    // JavaScript for selecting document orientation buttons
    document.addEventListener("DOMContentLoaded", function() {
        const landscapeButton = document.getElementById("landscapeButton");
        const portraitButton = document.getElementById("portraitButton");
        const orientationField = document.getElementById("id_orientation");
        console.log("Dom content loaded.")

        function setActiveButton() {
            console.log("setActiveButton function called.");

            const orientationValue = orientationField.value;

            if (orientationValue === "portrait") {
                portraitButton.classList.add("active");
            } else if (orientationValue === "landscape") {
                landscapeButton.classList.add("active");
                }
            console.log("Set active button.")
        }

        // event listeners to switch active button
        landscapeButton.addEventListener("click", function() {
            landscapeButton.classList.add("active");
            portraitButton.classList.remove("active");
            orientationField.value = "landscape";
        })

        portraitButton.addEventListener("click", function() {
            portraitButton.classList.add("active");
            landscapeButton.classList.remove("active");
            orientationField.value = "portrait";
            });
        
        setActiveButton();
    });

</script>

{% endblock %}


{% block content %}
    <div class="container" style="width: 75%; margin-top:5%; justify-content: space-between; margin-bottom: 10%;">

        <div class="row mt-5 mb-3 clearfix">
            <button type="button" class="btn btn-md btn-secondary float-start" style="width: 12%"><a href="{% url 'export-layout' layout.id %}" style="color:inherit">< Export</a></button>
        </div>

        <h1 class="display-5 fw-bold justify-content-center text-center">Edit Layout</h1>

        <form id ="layout-form" method="post">
            {% csrf_token %}
    
        <div class="row align-items-start">
            <div class="col justify-content-center mt-3">

                <!-- Leftmost column containing the color/font controls -->
                <div class="mt-3">
                    <center>
                        <h3 class="fw-bold" style="color: #4395e7">File Orientation</h3>
                    </center>
                    <!-- NOTE: This is how I want the buttons to be styled 
                    <div class="mt-3 mb-3 p-3">
                        <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle active" id="portraitButton">Portrait</button>
                        <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle" id="landscapeButton" style="margin-left:10px;">Landscape</button>
                    </div>
                    -->
                    
                    <!-- Displaying the orientation field-->
                    <input type="hidden" id="id_orientation" name="orientation" value="{{ orientation_value }}">
                    <div class="mt-3 mb-3 p-3">
                        <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle {% if style_settings_instance.orientation == 'portrait' %}active{% endif %}" id="portraitButton">Portrait</button>
                        <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle {% if style_settings_instance.orientation == 'landscape' %}active{% endif %}" id="landscapeButton" style="margin-left:10px;">Landscape</button>
                    </div>


                    <center>
                        <h3 class="fw-bold pt-3" style="color: #4395e7">Object Colors</h3>
                    </center>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="sensor_label_color">Sensors:</label>
                            {{ form.sensor_label_color }}                                           
                        </div>
                        <div class="form-group col-md-5">
                            <label for="camera_label_color">Cameras:</label>
                            {{ form.camera_label_color }}
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="form-group col-md-5">
                            <label for="navigation_arrow_color">Nav Arrows:</label>
                            {{ form.navigation_arrow_color }}
                        </div>
                        <div class="form-group col-md-5">
                            <label for="calibration_color">Calibrations:</label>
                            {{ form.calibration_color }}
                        </div>
                    </div>

                    <center>
                        <h3 class="fw-bold pt-5" style="color: #4395e7">Boundaries</h3>
                    </center>

                    <div class="form-row mt-3">
                        <div class="form-group col-md-5">
                            <label for="wall_color">Wall Color:</label>
                            {{ form.wall_color }}                                           
                        </div>
                        <div class="form-group col-md-5">
                            <label for="wall_width">Wall Width:</label>
                            {{ form.wall_width }}
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-5">
                            <label for="door_color">Door Color:</label>
                            {{ form.door_color }}                                           
                        </div>
                        <div class="form-group col-md-5">
                            <label for="door_width">Door Width:</label>
                            {{ form.door_width }}
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-5">
                            <label for="window_color">Window Color:</label>
                            {{ form.window_color }}                                           
                        </div>
                        <div class="form-group col-md-5">
                            <label for="window_width">Window Width:</label>
                            {{ form.window_width }}
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-5">
                            <label for="furniture_color">Furniture Color:</label>
                            {{ form.furniture_color }}                                           
                        </div>
                        <div class="form-group col-md-5">
                            <label for="furniture_width">Furniture Width:</label>
                            {{ form.furniture_width }}
                        </div>
                    </div>

                </div>
            </div>
            <!-- Middle column containing PDF preview -->
            <div class="col m-4 justify-content-center" id="layout-preview">
                <div class="object-fit-contain pdf-preview" style="border: 2px solid black"; style="width:auto">
                    <center>
                        <img src="{% url 'serve-image' layout.image %}" alt="Output Preview" style="max-height:450px;">
                    </center>
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <button id="submit-all" type="button" class="btn btn-primary">Save and Apply Changes</button>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <p class="mt-3 btn-group-subtext"></p><img src="{{ layout.image }}" alt="View in browser" onclick="viewImageInBrowser('{{ layout.image }}')" style="color: #0000EE"></p>
                </div>

            </div>

            <!-- Rightmost column containing controls for Metadata and Label locations-->
            <div class="col justify-content-center p-3">

                <center>
                    <h3 class="fw-bold pt-3 mt-3" style="color: #4395e7">Label Locations</h3>
                </center>

                <div class="mt-3">
                    {% for label, label_form in label_data %}
                    <div class="mb-1">
                        <div class="d-flex form-row align-content-center align-items-center">
                            <div class="d-flex align-items-center align-content-center pt-3">
                                <p>{{ label.name }}</p>
                            </div>
                            {{ label_form.management_form }}
                            <div class="form-group">
                                {{ label_form.location }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        </form>

        

    </div>


    <script>
        function viewImageInBrowser(imagePath) {
            // Construct the URL for the view-in-browser endpoint
            var url = "{% url 'serve-image' layout.image %}";
            
            // Open the URL in a new browser window
            window.open(url, "_blank");
        }
    
        // Ensure that all forms are submitted when the middle button is clicked
        document.getElementById('submit-all').addEventListener('click', function() {
            var labelForms = document.querySelectorAll('form[id^="label-form-"]');
            labelForms.forEach(function(form) {
                form.submit();
            });
            document.getElementById('layout-form').submit();
        });
    </script>    
{% endblock %}