{% extends 'base.html' %}

{% block title %} Export File {% endblock %}

{% block styling %}
<style>

    /*Drop-shadow effect for buttons--> */
    .shadow-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(134, 139, 145, 0.25); /* Add focus shadow */
    }

    .shadow-toggle.active {
        box-shadow: 0 0 0 0.25rem rgba(134, 139, 145, 0.25); /* Add active shadow */
        background-color: #f8f9fa;
    }

    .btn-orientation {
        padding: 5px;
        width: 45%;
        height: 70px;
    }

    .btn-group-subtext {
        color:cornflowerblue;
    }

</style>
<script>
    // JavaScript for selecting document orientation buttons
    document.addEventListener("DOMContentLoaded", function() {
        const landscapeButton = document.getElementById("landscapeButton");
        const portraitButton = document.getElementById("portraitButton");

        landscapeButton.addEventListener("click", function() {
            landscapeButton.classList.add("active");
            portraitButton.classList.remove("active");
        })

        portraitButton.addEventListener("click", function() {
            portraitButton.classList.add("active");
            landscapeButton.classList.remove("active");
        });
    });

</script>

<script>
    function viewImageInBrowser(imagePath) {
        // Construct the URL for the view-in-browser endpoint
        var url = "{% url 'serve-image' layout.image %}";
        
        // Open the URL in a new browser window
        window.open(url, "_blank");
    }
</script>

{% endblock %}

{% block content %}
    <div class="container" style="width: 65%; margin-top:5%">
        <div class="download-sample-files text-center row">
            <div class="col-sm-5 image-container">
                <div class="object-fit-contain" style="border: 2px solid black; height:auto">
                    <img src="{% url 'serve-image' layout.image %}" alt="Output Preview" style="width:100%; height: auto">
                </div>
            </div>

            <div class="col">

                <div class="mt-5 mb-3 clearfix">
                    <button type="button" class="btn btn-md btn-secondary float-end"><a href="{% url 'edit-layout' layout.id %}" style="color:inherit">Edit Style ></a></button>
                </div>

                <!-- Form for user to update file name-->
                <div class="mb-3 p-3 text-start">
                    <form method="post" id="updateFileNameForm">
                        <div class="row">
                            {% csrf_token %}
                            <label for="id_new_file_name", class="form-label"><b>File name:</b></label>
                            {{ update_file_name_form.new_file_name }}
                        </div>
                        <div class="row mt-3">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary btn-sm" style="width:40%">Save Name Changes</button>
                            </div>
                        </div>
                    
                    </form>
                </div>

                <div class="mt-3 mb-3 p-3">
                    <p>Select file orientation:</p>
                    <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle active" id="portraitButton">Portrait</button>
                    <button type="button" class="btn btn-lg btn-light btn-orientation shadow-toggle" id="landscapeButton" style="margin-left:10px;">Landscape</button>
                </div>
                
            
            <p class="mt-5 mb-2">Download PDF/TeX files:</p>
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-secondary"><a href="{% url 'download-pdf' layout.id %}" style="color:inherit">PDF</a></button>
                <button type="button" class="btn btn-lg btn-secondary"><a href="{% url 'download-tex' layout.id %}" style="color:inherit">TeX</a></button>
                <button type="button" class="btn btn-lg btn-secondary"><a href="{% url 'download-zip' layout.id %}" style="color:inherit">Both</a></button>
            </div>
            <p class="mt-3 btn-group-subtext"></p><img src="{{ layout.image }}" alt="View in browser" onclick="viewImageInBrowser('{{ layout.image }}')" style="color: #0000EE"></p>
            <!-- Inserted Delete Button -->
            <div class="mt-3">
                <form action="{% url 'delete_layout_test' layout.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-danger">Delete</button>
                </form>
            </div>
        
        </div>
      </div>
    
    </div>

{% endblock %}
