{% extends 'base.html' %}

{% block title %} Export File {% endblock %}

{% block content %}
    <section class=" py-4">
        <div class="container px-lg-5">
            <div class="download-sample-files text-center">
                <h1>Export</h1>
                <!-- Container for the images with alt text overlay -->
                <div class="image-container">
                    <div>
                        <img src="../uploads/imported_files/output.png" alt="Output Preview" width="40%" height="40%">
                     </div>
                <div>          
                <p></p>
                <p class="mb-2">Download PDF/TeX file formats:</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-pdf' %}" style="color:inherit">PDF</a></button>
                    <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-tex' %}" style="color:inherit">TeX</a></button>
                    <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-zip' %}" style="color:inherit">Both</a></button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}