{% extends 'base.html' %}

{% block title %} Import File {% endblock %}

{% block content %}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Upload File:</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3 mt-4 text-center">
                        <input type="file" name="uploaded_file">
                    </div>
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="submit" class="btn btn-primary btn-lg upload-file-btn" value="CONVERT">
                </form>
            </div>
        </div>
    </div>
</header>


<section class=" py-4">
    <div class="container px-lg-5">
        <div class="download-sample-files text-center">
            <p class="mb-2">Download sample file formats:</p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-sample-excel' %}" style="color:inherit">Excel</a></button>
                <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-sample-csv' %}" style="color:inherit">CSV</a></button>
                <button type="button" class="btn btn-sm btn-secondary"><a href="{% url 'download-sample-json' %}" style="color: inherit">JSON</a></button>
            </div>
        </div>
    </div>
</section>

{% endblock %}